@import "../../sass//mixins.scss";
.containerNav{
    background-color: #222;
    color: white;
    width: 200px;
    height: 100vh;
    @include transition(width);
    &.collapsed{
        width: 55px;
        .button{
            justify-content: center;
        }
    }
}
.button{
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;

}